body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #56ae50;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    margin: 20px 0;
}

section h1 {
    background-color: #e8491d;
    color: white;
    padding: 10px 0;
    text-align: center;
}

section p {
    line-height: 1.6;
}

#introduction {
    display: flex;
    align-items: center;
    text-align: center;
}

.intro-pic {
    flex: 1; /* Assigns a flex factor to the image container */
    text-align: left;
}

.intro-pic img {
    width: 100%; /* You can adjust this as necessary */
    max-width: 200px; /* Adjust as needed */
    border-radius: 50%;
}

.intro-content {
    flex: 2; /* Assigns a larger flex factor to the content container */
    padding: 0 20px; /* Adds some padding around the text */
}