body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #56ae50;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    margin: 20px 0;
}

section h1 {
    background-color: #e8491d;
    color: white;
    padding: 10px 0;
    text-align: center;
}

section p {
    line-height: 1.6;
}

#introduction {
    display: flex;
    align-items: center;
    text-align: center;
}

.intro-pic {
    margin-right: auto; /* push the text to the center */
}

.intro-content {
    flex-grow: 1;
    text-align: right;
    margin-left: auto; /* center the content */
    margin-right: auto;
}

.hidden {
    display: none;
}

/*Education block*/
.education-block {
    margin-bottom: 20px;
}

.education-block strong {
    font-size: 1.1em;
}

.education-block div {
    font-style: italic;
    margin-bottom: 5px;
}

.education-block ul {
    list-style-type: circle;
    margin: 10px 0;
    padding-left: 20px;
}

section h2 {
    margin-top: 0;
    color: #56ae50;
}

section p, section ul {
    line-height: 1.6;
    font-size: 0.95em;
}
.research-block, .publications-block, .Honors-block, .activities-block {
    margin-bottom: 20px;
}

.research-block h3, .publications-block h3, .Honors-block h3, .activities-block h3  {
    color: #12710b;
    margin-bottom: 10px;
}
/* .publications-block ul {
    list-style-type: circle;
    margin: 10px 0;
    padding-left: 20px;
} */



/* The rest of your CSS remains unchanged */
.internship-block {
    margin-bottom: 20px;
}

.internship-block h3 {
    color: #56ae50;
    margin-bottom: 10px;
}

.internship-block ul {
    list-style-type: circle;
    margin: 10px 0;
    padding-left: 20px;
}

.internship-block ul li strong {
    font-weight: bold;
}

/* Assuming .hidden, h3, and other base styles are already defined as shown previously */

.skills-block ul, .certifications-block ul, .interests-block ul {
    list-style-type: circle; /* or 'none' if you don't want bullet points */
    padding-left: 20px; /* Adjust as needed for alignment */
}

/* Add any additional specific styles for these blocks if needed */


